@use '../../util/styles/theme';

.contentPageContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background-color: theme.$primary-bg-color;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem 3rem;
}

.pageTitle {
  font-size: 3rem;
  color: theme.$primary-text;
}
