$primary-bg-color: #f6f8fa;
$secondary-bg-color: #808080;

$primary-text: #313131;
$secondary-text: #eeeeee;
$primary-text-pink: #af4beb;

$photo-shadow-gradient: linear-gradient(
  hsl(0 0% 0% / 0) 20%,
  hsl(0 0% 0% / 0.5)
);
